li .glyphicon {
    margin-right: 10px;
}

/* Highlighting rules for nav menu items */
li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
    background-color: #4189C7;
    color: white;
}

.artist-block {
  background-color: darkgray;
  color: white;
  padding: 5px;
  width: 192px;
}

.wrapper-artist {
  width: 192px;
  height: 40px;
  margin: 10px;
  color: black;
  transition: background .6s ease;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0 8px 40px darkgray;
}

.selected-artist-block {
  background-color: green;
  color: white;
}
