<p *ngIf="getSelectedCategoryCount() > 0;else category_selection">
  <em>Waiting for user. Please select {{getSelectedCategoryCount()}} more categories.</em>
</p>

<h1 *ngIf="categories && currentCount < 5">Select Your Top Five Genres</h1>
<div class="row category-block" *ngIf="categories && currentCount < 5">
  <div class="category-block" *ngFor="let category of categories" (click)="select(category);">
    <div class="wrapper-category">
      <img width="192" height="192" src="{{ category.iconUrl }}" alt="Category Icon"/>
      <p class="horizontal-center selected-block" *ngIf="category.isSelected; else notselected">{{ category.name }}</p>
      <ng-template #notselected>
        <p class="horizontal-center text-block">{{ category.name }}</p>
      </ng-template>
    </div>
  </div>
</div>

<ng-template #category_selection>
  <div class="row category-block">
    <div class="category-block" *ngFor="let category of selectedCategories" (click)="select(category);" style="margin: 5px;">
      <div class="wrapper-category">
        <img width="192" height="192" src="{{ category.iconUrl }}" alt="Category Icon"/>
        <p class="horizontal-center selected-block" *ngIf="category.isSelected; else notselected">{{ category.name }}</p>
        <ng-template #notselected>
          <p class="horizontal-center text-block">{{ category.name }}</p>
        </ng-template>
      </div>
    </div>
  </div>
</ng-template>

<app-selected-artists [selectedCategories]="selectedCategories" *ngIf="getSelectedCategoryCount() === 0"></app-selected-artists>
