/* You can add global styles to this file, and also import other style files */

.container {
  position: relative;
  padding: 20px;
}

.text-block {
  position: relative;
  bottom: 40px;
  opacity: 0.5;
  background-color: white;
  color: black;
  width: 192px;
  /*margin-left: -20px;*/
}

.selected-block {
  position: relative;
  bottom: 40px;
  opacity: 0.7;
  background-color: green;
  color: white;
  width: 192px;
}

.horizontal-center {
  text-align: center;
}

.vertical-center {
  vertical-align: middle;
}

.category-block {
  height: 100%;
  display: inline-table;
}

.wrapper-category {
  width: 192px;
  height: 192px;
  transition: background .6s ease;
  border-radius: 10px;
  box-shadow: 0 8px 40px darkgray;
  margin: 10px;
  padding: 0;
}


